Add HTTP/2 support

dohd can already be compiled with `HTTP2_MODE` set to 1.
This will force the client to use HTTP/2, due to the ALPN records in TLS.

Write a HTTP2 parser for the request, and associate a HTTP2 reply to each.

Cfr. RFC8484 sec. 5.2
```
   HTTP/2 [RFC7540] is the minimum RECOMMENDED version of HTTP for use
   with DoH.
```

Fixed in #9 